/* STYLESHEET for DEMO1 */

.homepage{
	height:100%;
}
.homepageleft{
	margin-top:10%;
}
.homepageleft img:nth-child(1){
	width:110px;
}
.homepageleft div:nth-child(2){
	padding-top:5vh;
	font-size:5em;
	font-weight:600;
}
.homepageleft div:nth-child(3){
	font-size:2.1em;
	font-weight:100;
}
.homepageleft div:nth-child(4){
	font-size:2.4em;
	font-style:italic;
	font-weight:300;
	line-height:3;
}
.contactdata{
	padding:15px;
}
.contactdata img{
	margin-bottom:15px;
}
.contactdata address{
	font-weight:400;
	background-color:rgba(0,0,0,.5);
	padding:15px;
	border-radius:5px;
	border:2px solid rgb(50,50,50);
}