.site-title{
	margin-top:10%;
}
.site-title h1{
	font-size: 8em;
}
@media screen and (max-width:670px){
	.site-title h1{
		font-size: 4em;
	}
}

.contactdata{
	padding:15px;
}
.contactdata img{
	margin-bottom:15px;
}
.contactdata address{
	font-weight:400;
	background-color:rgba(0,0,0,.5);
	padding:15px;
	border-radius:5px;
	border:2px solid rgb(50,50,50);
}