body{
	margin:0;
	font-family: 'Lato', sans-serif;
}
h1{
	font-weight: 100;
}
.td-sheet{
	background-color: transparent; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, RGBA(74, 252, 208, 0.05) , RGBA(69, 19, 88, 0.3)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, RGBA(74, 252, 208, 0.05) , RGBA(69, 19, 88, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
	cursor:default;
}
.td-sheet.active{
	background-color: transparent;
}
.container{
	width:100%;
}
.row{
	margin-bottom:30px;
}
.td-container{
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('../img/test.jpg');
	background-size:cover;
	perspective:5000px;
}
.td-containern{
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	background-size:cover;
	perspective:5000px;
}
.td-menu{
	position:absolute;
	top:40%;
	right:15px;
	border-radius:50px;
	background-color:black;
	perspective:300px;
	z-index:1000;
}
.td-sheet-icon, .td-sheet-title{
	display:none;
}
.td-menu-item{
	margin:8px;
	padding:10px;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:white;
	opacity:.5;
	transition:opacity .3s, transform 1s;
	cursor:pointer;
}
.td-menu-item:hover{
	transform:rotateY(50deg);
}
.td-menu-item i{
	font-size:20px;
}
.td-menu-item:hover,.td-menu-item.active{
	opacity:1;
}
.td-sheets-container{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	perspective:1000px;
	z-index:1;
	transition:transform 1.5s, opacity 1.5s;
}
.td-sheets-container.td-hide{
	transform:translateZ(-5000px);
	opacity:.2;
}
.td-sheet{
	position:absolute;
	left:10vw;
	top:10vh;
	width:80vw;
	height:80vh;
	border-radius:3px;
	overflow:hidden;
	opacity:0.1;
	background-color:rgba(255,255,255,0.25);
	transform-origin:center center -60vh;
	transition:opacity 1s, background-color 1s, transform 1s;
}
.td-sheet.active{
	opacity:1;
	z-index:100;
}
.td-preloading{
	position:fixed;
	width:100%;
	height:100%;
	background:#145158;
	z-index:2000;
}
.td-preloading span{
	position:fixed;
	color:white;
	font-size:56px;
	left:calc(50% - 28px);
	top:calc(50% - 28px);
}

.td-social{
	width:30px;
	height:30px;
	border:1px solid black;
	border-radius:25px;
	color:white;
	background-color:rgba(0,0,0,0.3);
	padding:10px;
	margin-right:5px;
	transition: background-color .3s;
}
.td-social:last-of-type{
	margin-right:none;
}
.td-social:hover{
	color:black;
	background-color:white;
}
.td-aboutus{
	overflow:hidden;
	padding:15px;
	transition:background-color .3s;
}
.td-aboutus:hover{
	background-color:rgba(0,0,0,0.3);
}
.td-aboutus .td-aboutus-header{
	padding:50px;
}
.td-aboutus .td-aboutus-header span{
	font-size:100px;
	transition:transform .7s, opacity .6s;
}
.td-aboutus:hover .td-aboutus-header span{
	transform:scale(2.5);
	opacity:0;
}
.td-aboutus .td-aboutus-header h3{
	font-weight:100;
	transition:opacity .3s;
}
.td-aboutus:hover .td-aboutus-header h3{
	opacity:0;
}
.td-aboutus p{
	position:absolute;
	padding:15px;
	top:100%;
	transition:top .6s;
}
.td-aboutus:hover p{
	top:30%;
}